version: "3.7"

services:
  web:
    image: lnbits/lnbits:v1.4.0
    init: true
    restart: on-failure
    stop_grace_period: 1m
    volumes:
      - ${APP_DATA_DIR}/data:/data
    environment:
      # Global
      LNBITS_HOST: "0.0.0.0"
      LNBITS_PORT: 3007
      LNBITS_DATA_FOLDER: "/data"
      LNBITS_BACKEND_WALLET_CLASS: VoidWallet

      # App
      LNBITS_SITE_TITLE: "LNbits - Umbrel"
      LNBITS_DEFAULT_WALLET_NAME: "LNbits wallet"
      LNBITS_DISABLED_EXTENSIONS: "amilk"
      LNBITS_ADMIN_EXTENSIONS: "ngrok"
      LNBITS_ADMIN_UI: "true"
    ports:
      - 33007:3007
