version: "3.7"

services:
  admin:
    image: dpage/pgadmin4:9.10
    restart: on-failure
    volumes:
      - ${APP_DATA_DIR}/data/pgAdmin:/var/lib/pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: "umbrel@example.com"
      PGADMIN_DEFAULT_PASSWORD: ${APP_PASSWORD}
    ports:
      - 38800:80

  postgres:
    image:  postgres:15.15
    restart: on-failure
    user: 1000:1000 
    environment:
      POSTGRES_USER: "umbrel@example.com"
      POSTGRES_PASSWORD: ${APP_PASSWORD}
      POSTGRES_DB: umbrel_postgres_db
    volumes:
      - ${APP_DATA_DIR}/data/postgres:/var/lib/postgresql/data
    ports:
      - 35432:5432
